<?xml version="1.0"?>
<model>
  <name>zmy_model</name>
  <version>1.0</version>
  <sdf version='1.6'>zmy_model.sdf</sdf>

  <author>
   <name>byy</name>
  </author>

  <description>
    This is a model of the Z550 Quadrotor. The original model has been created by wenbing Yu.
  </description>
</model>
